extends layout
block content
  h2 Books 
  .wrap
    form(method="get" action=` `)
      .search
        input.searchTerm(name="search" type='text', placeholder='What are you looking for?')
        button.searchButton(type='submit')
          i.icn.icn-find
  a(href="/books/new", class="btn-new") Create book &#43;
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody

      each book in books
        book
          tr
            td
              a(href=`/books/${book.id}`) #{book.title}
            td= book.author
            td= book.genre
            td= book.year 
  include pagination
